body {
    background-color: black;
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    font-family: 'Helvetica Neue';
    color: yellow;
    text-align: center;
    display: block;
    margin: 8px;
}

h1 {
  font-family: 'Star Jedi', sans-serif;
  font-size: 3em;
  color: yellow;
  margin-bottom: 30px;
}

.card {
      border: 3px solid yellow;
    border-radius: 15px;
    width: 600px;
    height: 250px;
    margin: 0 auto;
    margin-top: -25px;
}

button {
    margin-top: 20px;
	border: 3px solid yellow;
	border-radius: 10px;
	width: 180px;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

button:hover {
  background-color: yellow;
  color: black;
}

.loading {
  font-size: 18px;
}

.error {
  color: red;
  font-weight: bold;
}
